jenkins_home/jenkins
db_data_dw
config_hop
projeto_dbt
postgres-adventures/db_data
artigos
senha_app_gmail.txt
postgresql-42.4.3.jar
generate_schema_name.sql
stress_venda.sql
teste.py
Jenkinsfile_copy
projeto_dbt copy/
fix_perms.sh